.imageCard {
    cursor: pointer;
    transition: transform 0.3s ease;
}

.imageCard:hover {
    transform: scale(1.05);
}

.image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    display: block;
}